:root {
  --fn-color: #9cbacf;
  --variable-color: #d4c79a;
  --bool-color: orange;
  --int-color: darkorange;
  --operator-color: #b8860b;
  --comment-color: gray;
  --string-color: #9fcca5;
  --keyword-color: #b599b5;
  --builtin-color: #c97c7c;
}

.fn-name,
.fn-call {
  color: var(--fn-color) !important;
}

.variable {
  color: var(--variable-color) !important;
}

.bool {
  color: var(--bool-color) !important;
}

.int {
  color: var(--int-color) !important;
}

.operator {
  color: var(--operator-color) !important;
}

.comment {
  color: var(--comment-color) !important;
}

.string {
  color: var(--string-color) !important;
}

.keyword {
  color: var(--keyword-color) !important;
}

.builtin {
  color: var(--builtin-color) !important;
}

.diagnostic {
  text-decoration: underline wavy red !important;
}

.diagnostic-glyph:after {
  content: "⛔️" !important;
}

.diagnostic-container {
  background: rgba(255, 102, 102, 0.1) !important;
}
