/**
 * Neon supports arrays that can store various types of data.
 * Let's start with a basic array containing integers.
 */

let numbers = [3, 4, 5]

/**
 * Arrays can contain any type of data, including functions,
 * booleans, and even other arrays.
 */

fn pie_eater(i: int): int {
  i
}

let func_array = [
  pie_eater,
  pie_eater,
  pie_eater,
]

let first = func_array[1]
let second = func_array[2]

first(second(1)) 

/**
 * Arrays can also be nested, meaning you can have arrays inside arrays.
 */

let nestedArray = [
  [1, 2, 3],
  [4, 5, 6],
]

nestedArray
