fn print(s: string, i: int) {}

fn fizz_buzz(n: int) {
  fn helper(i: int) {
    if i < n + 1 {
      if 0 == i % 15 {
        print("FizzBuzz", i)
      } else if 0 == i % 3 {
        print("Fizz", i)
      } else if 0 == i % 5 {
        print("Buzz", i)
      }
      helper(i + 1)
    }
  }
  helper(1)
}

fizz_buzz(15)
