/ Helper function to repeat a function call /
fn repeat(fn_to_repeat, n) {
  fn helper(i) {
    if i < n + 1 {
      fn_to_repeat(i)
      helper(i + 1)
    } 
  }
  helper(1)
}

fn greet(person, person_nr) {
  print("Hello,", person + "!", person_nr)
}

repeat(fn a(i){ greet("Dave", i) }, 10)
