/ Helper function to repeat a function call /
fn repeat(fn_to_repeat, n) {
  fn helper(i) {
    if i < n + 1 {
      fn_to_repeat() + helper(i + 1)
    } else {
      ""
    }
  }
  helper(1)
}

fn greet(person) {
  "Hello, " + person + "! "
}

repeat(fn a(){ greet("Dave") }, 10)
