/**
 *  functions can be invoked directly after they are defined
 *  in this case they are called an iife (immediately invoked function expression)
 */

fn hello_world(): string {
  "iifies are cool 🚀"
}()
