fn minus(a, b){
  a - b
};

fn plus(a, b) {
  a + b
};

fn multiply(a, b) {
  if b == 0 {
    0
  } else {
    plus(a, multiply(a, b - 1))
  }
};

fn divide(dividend, divisor) {
  fn helper(dividend, divisor, quotient) {
    if minus(dividend, divisor) < 0 {
      quotient
    } else {
      helper(minus(dividend, divisor), divisor, plus(quotient, 1))
    }
  };
  helper(dividend, divisor, 0)
};


multiply(3, 15) - divide(10, 2)

