fn minus(a: int, b: int): int {
  a - b
}

fn plus(a: int, b: int): int {
  a + b
}

fn multiply(a: int, b: int): int {
  if b == 0 {
    0
  } else {
    plus(a, multiply(a, b - 1))
  }
}

fn divide(dividend: int, divisor: int): int {
  fn helper(dividend: int, divisor: int, quotient: int): int {
    if minus(dividend, divisor) < 0 {
      quotient
    } else {
      helper(minus(dividend, divisor), divisor, plus(quotient, 1))
    }
  }
  helper(dividend, divisor, 0)
}


multiply(3, 15) - divide(10, 2)

