/**
 * Neon has a type system for working with data types
 * to declare a type write it after a variable declaration with a colon
 */

let age: int = 3

/**
 * Neon also has type inference so there is no need to explicitly type variable
 * declarations
 */

let human = { name: "Dave", age: 32 }
print(human)

/**
 * Neon does not coerce types therefore it's a compilation error if you try to add
 * an int and a string try to fixing this 👇 so the type error goes away.
 */
let six = 3 + "3"
print(six)

/**
 * The same goes for other data types
 */
let truth = true == "false"
print(truth)

