/* Works fine */
let a = 3 + 3
print(a)

/**
 *  Neon does not coerce types therefore it's a compilation error if you try to add
 *  an int and a string try to fix this 👇 so the type error goes away.
 */
let b = 3 + "3"
print(b)

/**
 * The same goes for other data types
 */
let a = true + "false"
